<?xml version="1.0" encoding="UTF-8" ?>
<Config xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../schema/config.xsd"
        >

<Voip>
    <SipRegistrar url="sip:voip" />
    <SipTransport type="udp" port="5060" portRange="30" qos="true" />
    <RtpTransport type="udp" port="6970" portRange="80" qos="true" />
    <Media audioCodec="PCMA" />
    <Jitter init="40" max="40" minPrefetch="20" maxPrefetch="40" />
</Voip>


<Audio>
    <Line1
        capDevName="default:CARD=CODEC"
        capLatency="100"
        playDevName="default:CARD=CODEC"
        playLatency="60"
        clockRate="8000"
        frameTime="10"
    />
    <Line2
        capDevName="default:CARD=CODEC_1"
        capLatency="100"
        playDevName="default:CARD=CODEC_1"
        playLatency="60"
        clockRate="8000"
        frameTime="10"
    />
</Audio>

<Authentication method="card,static" password="enabled" staticCardId="T1000" />
<RoleServer url="http://voip:3001/v2/api" />

<PTT footSwitch="/dev/ttyS0:9600" line1="enabled" line2="disabled" />

<TScreen feedback="enabled" calibration="enabled" />


<Ui
    locale="bg_BG"
    adminpin="1234"
    terminalType="tiproRightHand"
    clock="enabled"
    lights="enabled"
/>


<EmergencyCall uri="sip:4003@voip" />


<Network interface="bond0" />
<Beeper dev="/dev/tty" />

<Log
    path="/var/log/gui.log"
    std="disabled"
    colors="auto"
    time="enabled"
    nanotime="disabled"
    short="disabled"
    debugLevel="disabled"
    verbosity="1"
/>

<Phonebook src="/etc/radis/pbook.xml" />

</Config>
